body{
    background-image: url('фонмайн4.jpg');
    background-size: 100%;
    background-attachment: fixed;
}
.eye1{
text-align: center;
font-family: impact;
color: rgb(69, 88, 64);
font-size: 3vw;
}
.eye2{
    margin-top: -10%;
  text-align: center;
}
.eye3{
    margin-top: -10%;
    font-size: 0.7vw;
    text-align: center;
    font-family: 'Trebuchet MS' ;
}
.order{
    margin-top: 1%;
    margin-left: 3%;
font-size: 1.1vw;
}
a{

    text-decoration: none;
    font-family: rubik black;
    color: #000;
}