body{
    background-image: url('фонмайн6.jpg');
    background-size: 100%;
    background-attachment: fixed;
}
.gif{
margin-left: 32%;

}
.txt1{
    font-size: 3vw;
    font-family: rubik black;
    color: rgb(165, 161, 187);
    text-align: center;
    
}
a{
    font-family: rubik black;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2vw;
}